.main_wrap {
    display: flex;
}

.block {
    display: inline-block;
    border: 1px solid #EEE;
    width: 50%;
}

.slider {
    margin: 40px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 4px 10px #888;
}

.points {
    position: relative;
    /* display: flex; */
    width: 100%;
    margin-top: -26px;
    text-align: center;
}

.point {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    display: inline-block;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.act {
    background: #FFF;
}

.character {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.chank {
    padding-top: 16px;
}

.chank_left {
    display: inline-block;
    width: 50%;
}

.chank_right {
    display: inline-block;
    width: 50%;
}

span {
    border: 1px solid #AAA;
    padding: 0 3px;
    border-radius: 3px;
    background: #DDD;
    box-shadow: 0 4px 10px #AAAA ;
}

.line {
    
    display: flex;
    align-items: stretch;
}

.btn_info {
    display: inline-block;
    background-color: #00ABF2;
    border: 0;
    margin-left: 0;
    height: 40px;
    width: 40px;
}

.head {
    display: inline-block;
    margin: 0 auto;
    background: #00B6FF;
    color: white;
    flex-grow: 20;
    text-align: center;
    padding-top: 6px;
}

.slide_container {
    display: flex;
    justify-content: space-around;
}

.slide_img {
    width: 160px;
    height: 120px;
    margin-top: 40px;
    cursor: pointer;
}

.checkBox {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: -110px;
    margin-left: 130px;
    background: #00B6FF;
    color: white;
    padding: 0;
    line-height: 0;
    visibility: hidden;
}

.checked {
    visibility: visible;
    box-shadow: 0px 4px 10px #888;
}

.name {
    position: absolute;
    margin-top: -40px;
    background: #222200CC;
    text-align: center;
    color: white;
    width: 160px;
    height: 40px;
    padding-top: 6px;
}