.header {
    height: 60px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
}

.wrap {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hamburger {
    margin-left: 30px;
    cursor: pointer;
}

.chip {
    display: inline-flex;
    position: absolute;
    background-color: #00B6FF;
    color: #FFF;
    font-size: small;
    text-align: center;
    border-radius: 8px;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    margin-top: -4px;
    margin-left: -8px;
}