

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
}

.footer {
    height: 60px;
    width: 100%;  
    padding-left: 40px;
    padding-right: 40px;  
    display: flex;
    justify-content: center;
    
    
}

.tab {
    width: 40px;
    flex-basis: auto;
    flex-grow: 15;
    border: 1px solid #EEE;
    text-align: center;
    padding: 15px 0;
    border-bottom: 5px solid #00B6FF;
    cursor: pointer;
}

.focus {
    background: #00B6FF;
    color: #FFF;
}

.red {
    border-bottom: 5px solid #9C4542;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}


